.main {
  gap: 10px;
  width: 100%;
  height: calc(100% - 47px);
}

@media (max-width: 1650px) {
  .main {
    flex-direction: column;
  }
}

@media (max-width: 930px) {
  .menu {
    display: none;
  }
}

.main > div {
  flex: 1 1 0;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.left {
  max-height: 100%;
  overflow-y: auto;
}

.menu {
  height: 47px;
}
