.container {
  height: 100%;
  width: 100%;
  background-color: var(--green-4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.tacticInfo {
  width: 20%;
  min-width: 180px;
  background-color: var(--green-1);
  border-radius: 10px;
  height: fit-content;
  min-height: 100%;
}

.headerWrapper {
  z-index: 3;
}

.tacticBoardMain {
  height: 100%;
}
