body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --maroon-1: #812236;
  --maroon-2: #7f2738;
  --maroon-3: #8b2636;
  --maroon-4: #7e2438;
  --purple-1: #2f1357;
  --purple-2: #38165c;
  --mint-1: #97b1cb;
  --mint-2: #a9b5d2;
  --mint-3: #5ffee9;
  --yellow-1: #f6d64f;
  --light: white;
  --green-1: #034b3e;
  --green-2: #25695a;
  --green-3: #4cb04f;
  --green-4: #2d7e32;
  --green-5: #24803d;
  --green-6: #004e40;
  --green-7: #017663;
  --green-8: #006a57;
  --green-9: #26685a;
}

button {
  background-color: transparent;
  border: none;
}

.font-normal {
  font-size: 1rem;
}

.font-tiny {
  font-size: 0.75rem;
}

.font-small {
  font-size: 0.875rem;
}

.font-big {
  font-size: 1.25rem;
}

.text-light {
  color: var(--light);
}
